<nav>
  <div class="title">
    <span>tweeter</span>
  </div>
  <div class="right-side-items">
    <div class="right-side-text">
      <span><b>Write</b> a new tweet</span>
    </div>
    <div class="double-down-arrow">
      <i class="fa-solid fa-angles-down" ></i>
    </div>
  </div>
</nav>
