<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Main Page</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!--myCart CSS-->
  <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!--JS-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- RESTAURANT SUBMIT BUTTON JS -->
  <!-- <script type="text/javascript" src="/scripts/restaurant_submit.js"></script> -->

</head>
<body>
  <%- include('./partials/_nav') %>
  <h1>Restaurant's Main Page</h1>

  <main class="restaurant-container">

    <!-- <p id="incoming-order-here"></p> -->

    <header id="banner">
      <h3>Incoming Orders</h3>
    </header>

    <div id="order-title">
      <div id="order-details-title">ORDER DETAILS</div>
      <div id="est-time-title">ESTIMATED <br> TIME TO COMPLETE <br> (MINUTES)</div>
      <div id="completed">COMPLETED</div>
    </div>

    <div class="order-list">
      <!-- DIV FOR INCOMING ORDER-->
      <!--SKELETON DIV FOR INCOMING ORDER-->
      <div class="one-order">
        <div class="order-details">
          <p id="incoming-order-here">Hard-Coded Layout as Sample (for CSS)</p>
        </div>

        <div class="time-container">
          <form>
            <textarea type="text" class="estimated-time" name="estimated-time"></textarea>
          </form>
          <button type="submit" class="submit-btn">Submit</button>
        </div>

        <div class="div-check">
          <input type="checkbox"/>
        </div>

      </div>

      <div class="one-order">
        <div class="order-details">
          <div class="user-details">
            <div>
                <span>Customer ID: </span>
                <p>3</p>
                <span>Order ID: </span>
                <span class="order-id">${orderObj.cartId}</span>
            </div>
            <div>
                <span>Time of Order Placement:</span>
                <p>TIMESTAMP</p>
            </div>
          </div>
          <div class="food-details">
            <span>Food to Prepare:</span>
            <span>List of foods in a string</span>
          </div>
          <div class="note-details">
            <span>Customer Notes:</span>
            <p>Please do not include peanuts in my hamburgers. Thank you!</p>
          </div>
        </div>
        <div class="time-container">
          <form>
            <textarea type="text" class="estimated-time" name="estimated-time"></textarea>
          </form>
          <button type="submit" class="submit-btn">Submit</button>
        </div>
        <div class="div-check">
            <input type="checkbox"/>
        </div>
      </div>

    </div>

    <footer>
      <div>
        <h3>Previous Orders</h3>
      </div>
      <div>
        <p>
          <%- JSON.stringify(carts) %>
        </p>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js" integrity="sha512-nYuHvSAhY5lFZ4ixSViOwsEKFvlxHMU2NHts1ILuJgOS6ptUmAGt/0i5czIgMOahKZ6JN84YFDA+mCdky7dD8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

      const socket = io("ws://localhost:3000");
      socket.on('connect', () => {
        console.log("restaurant.ejs is connected")
      })
      socket.on("inputValue", (data) => {


        //data is now that OBJECT from newCart.js ********

        // console.log("Reached restaurant ejs line 117-- >", data)
        console.log("data in restaurant.ejs socket -----")
        console.log(data);

        //SUBMIT BUTTON THAT TRIGGERS AJAX POST REQUEST
        const submitTime = (event) => {
          let submitBtnClicked = $(event.target);
          submitBtnClicked.css("background-color", "red");
          let estTime = submitBtnClicked.closest(".time-container").find(".estimated-time").val();

          $.post("/login/2", {time:estTime, cartId: data.cartId});
        };

      const newOrder = function(orderObj) {
        return `
        <div class="one-order">
          <div class="order-details">
            <div class="user-details">
              <div>
                  <span>Customer ID: </span>
                  <p> ${orderObj.customerId}</p>
              </div>
              <div>
                  <span>Time of Order Placement:</span>
                  <p>${orderObj.time}</p>
              </div>
            </div>
            <div class="food-details">
              <span>Food to Prepare:</span>
              <span>${orderObj.listOfFoods}</span>
              <span> Total</span>
              <span> ${orderObj.total} </span>
            </div>
            <div class="note-details">
              <span>Customer Notes:</span>
              <p>${orderObj.notes}</p>
            </div>
          </div>
          <div class="time-container">
            <form>
              <textarea type="text" class="estimated-time" name="estimated-time"></textarea>
            </form>
            <button type="submit" class="submit-btn"> Submit</button>
          </div>
          <div class="div-check">
              <input type="checkbox"/>
          </div>
        </div>`
      };

        // console.log("newOrder(data)-------");
        // console.log(newOrder(data))


        $(".order-list").prepend(newOrder(data));

        // 'activates submit button when clicked'
       $(".one-order").find(".submit-btn").on("click", submitTime)



        // const $pData = $("<p>").addClass(".incoming-order-here").text(data);
        // const $divOrderDetails = $("<div>").addClass("order-details");
        // //appending p with incoming data to a div tag for the "order" side
        // $divOrderDetails.append($pData);


        // const $form = $("<form>");
        // const $textarea = $("<textarea>").addClass("estimated-time").attr("type", "text").attr("name", "estimated-time");
        // //appending textbox to form
        // $form.append($textarea);

        // const $button = $("<button>").addClass("submit-btn").attr("type", "submit").text("Submit");
        // const $timeContainer = $("<div>").addClass("time-container");
        // //appending to make the textbox for restaurant to input est. time
        // $timeContainer.append($form, $button);

        // $inputCk = $("<input>").attr("type", "checkbox");
        // $divCk = $("<div>").addClass("div-check");
        // $divCk.append($inputCk)


        // const $divOneOrder = $("<div>").addClass("one-order")
        // $divOneOrder.append($divOrderDetails, $timeContainer, $divCk)

        // $(".order-list").prepend($divOneOrder);


        // 'activates submit button when clicked'
        // $divOneOrder.find(".submit-btn").on("click", submitTime)


        // $("#incoming-order-here").text(data);

        // document.querySelector('#incoming-order-here').innerHTML = data;
      })
    </script>


  </main>


</body>
</html>
