body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

  .notification {
    display: flex;
    flex-direction: column;
    margin-top:1.5rem;
    margin-bottom: 1rem;
    .one-notification{
      display:flex;
      flex-direction: column;
      background-color: whitesmoke;
      border:crimson 4px dashed;
      width: 90%;
      margin-left: 5vw;
      margin-right: 5vw;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      .notification-text {
        // background-color: violet;
        // border: chartreuse 4px dashed;
        // margin-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .ok-btn {
        width: 90%;
        background-color: chartreuse;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }

  .menu-cart {
    display:flex;
  }

  main.container {
    width: 60%;
  }
  .add-btn {
    width: 100%;
  }
}

