body {
  display: flex;
  flex-direction: column;

  .navbar-brand {
    font-size: 2rem;
  }
  .navbar {
    padding-top: 1rem;
    padding-bottom: 2rem;
    .loggedin {
      color: white;
      text-decoration: none;
    }
  }

  min-height: 100vh;

  background-color: #8d949b;

  .notification {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    .one-notification {
      display: flex;
      flex-direction: column;
      background-color: none;
      border: black 3px solid;
      width: 90%;
      margin-left: 5vw;
      margin-right: 5vw;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      font-size: 1.1rem;
      .notification-text {
        // background-color: violet;
        // border: chartreuse 4px dashed;
        // margin-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .ok-btn {
        width: 90%;
        background-color: #ffd662;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        border-radius: 10px;
      }
    }
  }

  .menu-cart {
    display: flex;
  }

  main.container {
    width: 60%;
    .card mb-3 {
      background-color: ivory;
    }

    .pizza-img {
      border: 3px black solid;
      margin: 1rem;
      border-radius: 20px;
    }
  }
  .add-btn {
    width: 100%;
    background-color: grey;
    color: black;
    border-radius: 7px;
  }
}
