.thank-you {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  // border:lightcoral 3px solid;
  margin-left: 5vw;
  margin-right:5vw;
  background-color: lightgoldenrodyellow;
  padding: 0.75rem;
  h3 {
    text-align: center;
  }
  form {
    width: 100%;
    #ok {
      margin-top: 0.5rem;
      background-color: skyblue;
      width: 100%;
    }
  }
}
