.cart {
  margin: 3em;
  background-color: ivory;
  border-radius: 2rem;
  height: 100%;
  width: 30vw;

  #cart-header {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .cart-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px black solid;
    font-weight: bold;
  }

  .cart-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px black solid;
    font-size: 1.25rem;

    .item-price {
      margin-right: 50px;
    }
  }

  .cart-food-id {
    color: red;
    font: 1px;
    padding: 0px;
    font-size: 0.1px;
    margin: 0px;
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    .cart-food-name {
      font-size: 1.15rem;
    }
  }

  .cart-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .counter {
      display: flex;
      .minus-btn {
        background-color: #c0c0c0;
        border-radius: 3px;
        height: 2rem;
        width: 1.5rem;
        font-size: 1rem;
      }
      .quantity {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 1rem;
      }
      .plus-btn {
        background-color: #c0c0c0;
        border-radius: 3px;
        height: 2rem;
        width: 1.5rem;
        font-size: 1rem;
      }
    }
    .remove-btn {
      margin-top: 0.5rem;
      border-radius: 10px;
      font-size: 1rem;
      background-color: #f56060;
    }
  }

  .cart-row-font {
    font-size: 1rem;
  }

  .math {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2px;
    justify-content: right;
    border-top: solid 5px black;
    font-size: 1rem;
    .bold {
      font-weight: bold;
    }
  }

  .note-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    // border: red solid 2px;
    .note {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-weight: bold;
      form {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
    .checkout {
      width: 90%;
      #checkout-btn {
        width: 100%;
        background-color: #afe1af;
        font-weight: bold;
        border-radius: 10px;
      }
    }
  }
}
