.restaurant-container {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: dashed 3px green;
  background-color: white;
  #banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 100%;
    h3 {
      font-weight: bold;
      text-align: center;
    }
  }
  #order-title {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: darkblue 2px solid;
    background-color: peachpuff;
    #order-details-title {
      // border: gold 3px solid;
      width: 60%;
      text-align: center;
      // border: blue 3px solid;
    }
    #est-time-title {
      // border: springgreen 3px solid;
      text-align: center;
      font-size: 1rem;
      // border:red 3px solid;
      margin-left: 1.25rem;
      margin-right: 1rem;
    }
    #completed {
      text-align: center;
      margin-left: 0.5rem;
      // border: blue 3px solid;
    }
  }
  .order-list {
    display: flex;
    flex-direction: column;

    .one-order {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      border: rgb(216, 126, 156) dashed 3px;

      .order-details {
        display: flex;
        flex-direction: column;
        border: 3px solid yellow;
        width:80%;
      }
    .user-details {
      border: tomato 3px solid;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      div {
        display: flex;
      }
      span {
        font-weight: bold;
        margin-right: 1rem;
      }
    }

    .food-details {
      border: springgreen 3px solid;
      span {
        font-weight: bold;
      }
    }

    .note-details {
      border: orange 3px solid;
      span {
        font-weight: bold;
      }
      p {
        background-color: yellow;
      }
    }
  }


      .time-container {
        border: red solid 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        form {
          display: flex;
          justify-content: center;
          align-items: center;
          // padding: 0.5rem;
          .estimated-time {
            width: 80%;
            height: 70%;
            text-align: center;
          }
        }
        .submit-btn {
          background-color: lightgreen;
        }
      }

      .div-check {
        display:flex;
        border: purple solid 4px;
        width: 20%;
        justify-content: center;
        align-items: center;
        input {
          display: flex;
          width: 3rem;
          height: 3rem;
        }
      }
      }

  footer {
    border-top: 3px solid black;
    background-color: pink;
    margin-top: 2rem;
  }

}

